ca_certificate_secret    = "xxxxxxxxxxxxxxx"
http_proxy_uri_authority = "proxy_host_name:proxy_port"
node_count               = "value must be either 1 or 2"
network                  = "projects/xxxxxxx/global/networks/xxxxxxx"
subnetwork               = "xxxxxxxxx"
namespace                = "user-friendly-name"
fqdn                     = "tfe.my.domain.com"
ssl_certificate_name     = "certificate-name-xxxxxxxxxxxxxxxxxxxx"
dns_zone_name            = "my.domain.com"
license_file             = "/files/license.rli"