namespace            = "user-friendly-name"
fqdn                 = "tfe.my.domain.com"
ssl_certificate_name = "certificate-name-xxxxxxxxxxxxxxxxxxxxx"
dns_zone_name        = "my.domain.com"
license_file         = "/files/license.rli"