#!/bin/bash

export DEBIAN_FRONTEND=noninteractive

apt-get update

apt-get install -y iptables-persistent netfilter-persistent

iptables -t nat -A PREROUTING -p tcp --dport ${k8s_api_port} -j DNAT --to-destination "${host}"
iptables -t nat -A POSTROUTING -p tcp --dport ${k8s_api_port} -j MASQUERADE

iptables -t nat -A PREROUTING -p tcp --dport ${cluster_assistant_port} -j DNAT --to-destination "${host}"
iptables -t nat -A POSTROUTING -p tcp --dport ${cluster_assistant_port} -j MASQUERADE

netfilter-persistent save

echo 1 > /proc/sys/net/ipv4/ip_forward

echo "net.ipv4.ip_forward=1" >> /etc/sysctl.conf
