#!/bin/bash

export DEBIAN_FRONTEND=noninteractive

apt-get update

apt-get install -y iptables-persistent netfilter-persistent

iptables -t nat -A PREROUTING -p tcp --dport ${port_kubernetes_tcp} -j DNAT --to-destination "${host}"
iptables -t nat -A POSTROUTING -p tcp --dport ${port_kubernetes_tcp} -j MASQUERADE

iptables -t nat -A PREROUTING -p tcp --dport ${port_cluster_assistant_tcp} -j DNAT --to-destination "${host}"
iptables -t nat -A POSTROUTING -p tcp --dport ${port_cluster_assistant_tcp} -j MASQUERADE

netfilter-persistent save

echo 1 > /proc/sys/net/ipv4/ip_forward

echo "net.ipv4.ip_forward=1" >> /etc/sysctl.conf
