name: Close Pull Request
# only trigger on pull request closed events
on:
  pull_request:
    types: [ closed ]

env:
  GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
  GOOGLE_PROJECT: ${{ secrets.GOOGLE_PROJECT }}
  GOOGLE_REGION: ${{ secrets.GOOGLE_REGION }}
  GOOGLE_ZONE: ${{ secrets.GOOGLE_ZONE }}

jobs:
  close_job:
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - public-active-active
          - private-active-active
          - private-tcp-active-active
    # this job will run if PR is closed
    name: Destroy resources from Private TCP Active/Active and Delete Terraform Workspace for merged PR
    if: github.event.pull_request.merged == true || github.event.pull_request.merged == false
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    env:
      WORK_DIR_PATH: ./tests/${{ matrix.scenario }}
      PR_NUMBER: ${{ github.event.pull_request.number }}
    steps:
      - name: Create URL to the run output
        id: vars
        run: echo ::set-output name=run-url::https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID

    # Checkout the branch of the pull request being tested
      - name: Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: false

      # Set the terraform env
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_hostname: 'app.terraform.io'
          cli_config_credentials_token: ${{ secrets.TFC_TOKEN }}
          terraform_version: 1.0.11
          terraform_wrapper: true

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@62d4898025f6041e16b1068643bfc5a696863587 # v1.1.0
        with:
          project_id: ${{ secrets.GOOGLE_PROJECT }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

    # this step will check if workspace is created for this PR
      - name: Check if workspace exists
        id: check-workspace-exists
        working-directory: ${{ env.WORK_DIR_PATH }}
        run: >-
          echo "::set-output name=WORKSPACE_EXISTS::$(curl -s --header "Authorization: Bearer ${{env.TFC_TOKEN}}" --header "Content-Type: application/vnd.api+json"  https://app.terraform.io/api/v2/organizations/${{env.TFC_ORGANIZATION}}/workspaces/google-${{ matrix.scenario }}-${{ env.PR_NUMBER }} | jq -r '.data | .attributes | .name')"
        env:
          TFC_ORGANIZATION: ${{ secrets.TFC_ORGANIZATION }}
          TFC_TOKEN: ${{ secrets.TFC_TOKEN }}

    # Configure backend 
      - name: Configure Terraform Backend
        if: ${{ steps.check-workspace-exists.outputs.WORKSPACE_EXISTS == "google-${{ matrix.scenario }}-${{ env.PR_NUMBER }}" }}
        id: backend-config
        working-directory: ${{ env.WORK_DIR_PATH }}
        run: |
          cat <<EOF > backend-config.hcl
            organization = "${{ secrets.TFC_ORGANIZATION }}"
            workspaces {
              name = "google-${{ matrix.scenario }}-${{ env.PR_NUMBER }}"
            }
          EOF
          
    # Initialize terraform
      - name: Terraform Init
        if: ${{ steps.check-workspace-exists.outputs.WORKSPACE_EXISTS == "google-${{ matrix.scenario }}-${{ env.PR_NUMBER }}" }}
        id: init
        working-directory: ${{ env.WORK_DIR_PATH }}
        run: terraform init -backend-config=backend-config.hcl -input=false -no-color
        
    # Write tfvars
      - name: Write Terraform Variables
        if: ${{ steps.check-workspace-exists.outputs.WORKSPACE_EXISTS == "google-${{ matrix.scenario }}-${{ env.PR_NUMBER }}" }}
        working-directory: ${{ env.WORK_DIR_PATH }}
        run: |
          cat <<EOF > github.auto.tfvars
          existing_service_account_id = "${{ secrets.GOOGLE_SERVICE_ACCOUNT }}"
          tfe = {
            hostname     = "${{ secrets.TFE_HOSTNAME }}"
            organization = "${{ secrets.TFE_ORGANIZATION }}"
            token        = "${{ secrets.TFE_TOKEN }}"
            workspace    = "${{ secrets.TFE_WORKSPACE }}"
          }
          EOF

    # this step will delete workspace-resources if exists for this PR
      - name: Terraform Destroy
        id: destroy
        if: ${{ steps.check-workspace-exists.outputs.WORKSPACE_EXISTS == "google-${{ matrix.scenario }}-${{ env.PR_NUMBER }}" }}
        working-directory: ${{ env.WORK_DIR_PATH }}
        run: terraform destroy -auto-approve -input=false -no-color

    # this step will delete workspace for this PR
      - name: Terraform Delete Workspace
        id: destroy-workspace
        if: ${{ steps.check-workspace-exists.outputs.WORKSPACE_EXISTS == "google-${{ matrix.scenario }}-${{ env.PR_NUMBER }}" }} && ${{ steps.destroy.outcome == 'success' }}
        working-directory: ${{ env.WORK_DIR_PATH }}
        run: >-
          curl --header "Authorization: Bearer ${{ secrets.TFC_TOKEN }}" --header "Content-Type: application/vnd.api+json" --request DELETE https://app.terraform.io/api/v2/organizations/${{ secrets.TFC_ORGANIZATION }}/workspaces/google-${{ matrix.scenario }}-${{ env.PR_NUMBER }}
          

